
body.customize-support {
  background-color: #393e46;
}

.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.section-1 {
  background-image: url(../images/fond-1.jpg);
  background-position: 50% 38%;
  min-height: rem-calc(700);
  background-size: cover;
}

.section-1 h1 {
  font-size: rem-calc(30);
  font-weight: 800;
  color: #26b3ba;
  margin-top: rem-calc(200);
}

h1::after {
  content: '';
  display: block;
  height: rem-calc(10);
  width: 40%;
  background-color: #fff;
  margin : 0 auto;
  margin-top: rem-calc(30);
}

.section-1 h2 {
  font-size: rem-calc(24);
  color: #fff;
  margin-top: rem-calc(30);
  letter-spacing: 3px;
  margin-bottom: rem-calc(60);
}

.section-1 button {
margin-top: rem-calc(40);
margin-bottom: rem-calc(50);
}

h3::before {
  background-image: url(../images/ellipse.png);
  background-size: cover;
  content: '';
  width: rem-calc(15);
  height: rem-calc(15);
  display: inline-block;
  margin-right: rem-calc(75);
}

.section-2 {
  background-image: url(../images/fond-2.jpg);
  background-position: 50% -250%;
  min-height: rem-calc(700);
  background-size: cover;
}

.section-2 h3 {
font-size: rem-calc(24);
color: #26b3ba;
text-transform: uppercase;
letter-spacing: 7px;
font-weight: 700;
margin-top: rem-calc(100);
}

.section-2 img {
  margin-top: rem-calc(80);
}

.section-2 p {
  font-size: rem-calc(18);
  color: #fff;
  margin-top: rem-calc(80);
  padding-top: rem-calc(60);
}

.section-3 h3 {
  margin-bottom: rem-calc(80);
  margin-top: rem-calc(200);
  font-size: rem-calc(24);
  color: #26b3ba;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
}

.section-3 p {
  margin-top: rem-calc(50);
  color: #fff;
  font-size: rem-calc(18);
}

.section-3 h4 {
  margin-top: rem-calc(120);
  margin-bottom: rem-calc(40);
  font-size: rem-calc(24);
  color: #26b3ba;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
  text-align: center;
}

.menuiserie {
  border:3px solid #26b3ba;
}

.semencerie {
  border:3px solid #26b3ba;
}

.garage {
  border:3px solid #26b3ba;
}

.section-4 {
  background-image: url(../images/fond-3.jpg);
  background-position: 50% 25%;
  min-height: rem-calc(800);
  background-size: cover;
}

.section-4 h5 {
  margin-top: rem-calc(300);
  text-align: center;
  font-size: rem-calc(30);
  color: #fff;
  margin-bottom: rem-calc(30);
}

.section-4 h5 strong {
  color: #27b3ba;
}

.button {
  background-color: transparent !important;
  border:2px solid #26b3ba !important;
  font-weight: 700;
}

.button:hover {
  background-color: #26b3ba !important;
  border:2px solid #26b3ba !important;
  font-weight: 700;
}

.section-4 button {
margin-top: rem-calc(23);
margin-bottom: 12,5em;
}









@media (max-width: 1023px) {
  .section-3 {
    text-align: center;
  }

  .section-3 img {
    margin-top: rem-calc(20);
  }
}

@media (max-width: 833px) {
  .menu {
    display: none;
  }

  .section-3 {
    text-align: center;
  }

  .section-3 img {
    margin-top: rem-calc(20);
  }
}
